---
import BaseHead from "../components/BaseHead.astro"

const { frontmatter : FM } = Astro.props
---
<html>
  <BaseHead title={FM.title} />
  <body>
    <main class="course-content">
      <header class="course-introduction">
        <h1>{FM.title}</h1>
        <p class="course-description">{FM.intro}</p>
        <p class="course-instructions">You can pause and pick up where you left off at any point, until the assessment. Once you complete the assessment, a Weave Leader will be alerted and reach out to you with your results.</p>
        <p class="course-credits">This course is {FM.partnerName ? <>a collaboration with <strong><a class="partner-name" href={FM.partnerUrl}>{FM.partnerName}</a></strong>. It is </> : null} part of the <a href="/">Weave Learning Center</a>.</p>
      </header>
      <slot />
    </main>
  </body>
</html>